body {
  text-align: center;
  font-family: monospace;
  background: white;
}

.submit-wrapper {
  margin-top: 40px;
}

#paper {
  height: 693px;
  width: 535px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(6px 10px 21px rgba(0, 0, 0, 0.5));
  background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/yellow-notebook-paper-background-design-template-d7dfa26f8c8c759652e2521f0ecd24eb_screen.jpg?ts=1636990781);
  background-size: contain;
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.result {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.result span {
  opacity: 0.8;
}

.ui-draggable-dragging {
  background-color: black;
  color: white;
}

.draggable:not(.ui-draggable-dragging) {
  transition: all 0.2s;
}

.draggable {
  position: absolute;
  display: inline-block;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

.draggable:hover {
  text-decoration: underline;
}